.Board {
    
}

.Boardbutton {
    font-size: calc(100vw/26);
    height: calc(100vw/12);
    width: calc(100vw/12);
}

.Boardcontainer {
    height: 100vh;
}

@media only screen and (max-width: 428px) {
    .Boardbutton {
        font-size: calc(100vw/8);
        height: calc(100vw/4);
        width: calc(100vw/4);
    }
}
